# 데이터 분석 기초

## Data 의 종류

### 연속형 자료
- 등간척도 (Interval): 절대값 0 이 존재하지 않음, 곱셈법칙 적용이 안됨, 예)온도
- 비율척도 (Ratio): 절대값 0 이 존재, 예) 키, 몸무게, 혈압

### 범주형 자료
- 명목척도 (Nominal): 속성을 분류하는 척도, 속성간 순위가 없음, 예) 남/녀, 국어/영어/수학
- 순서척도 (Ordinal): 속성간에 순위개념이 존재하는 척도, 예) 상/중/하, 좋음/보통/나쁨



> ## 파일로 부터 자료 읽기

In [1]:
# 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
## 구글 그라이브 마운트 & 파일 업로드
# from google.colab import drive, files
# drive.mount("/content/drive")
# uploaded = files.upload()

### CSV 파일 읽기

In [8]:
## File path
fpath = "./ml_dataset/dataset"

In [9]:
# csv 파일 읽기
# header, index_col, sep, names
fname = "cars.csv"
file = os.path.join(fpath, fname)
cars_df = pd.read_csv(file)
cars_df.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

### 웹에 있는 CSV 파일 읽기

In [10]:
# Read from html
fish_df = pd.read_csv('https://bit.ly/fish_csv')
print(fish_df)

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

### 엑셀 파일 읽기

In [11]:
# 엑셀 파일 읽기
fname = 'mtcars.xlsx'
file = os.path.join(fpath, fname)  # './dataset\\mtcars.xlsx'

mtcars_df = pd.read_excel(file)
mtcars_df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## 자료에 대한 정보 보기

### 자료 인텍스, 크기, 데이터 타입, 변수명

In [12]:
# DataFrame 정보 확인
print(mtcars_df.head()) # 5개
print(mtcars_df.tail())
print(mtcars_df.info())
print(mtcars_df.index)
print(mtcars_df.shape)
print(mtcars_df.dtypes)
print(mtcars_df.columns)

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2
        Unnamed: 0   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
None
RangeIndex(start=0, stop=32, step=1)
(32, 12)
Unnamed: 0     object
mpg           float64
cyl             int64
disp          float64
hp              int64
drat          float64
wt            float64
qsec          float64
vs              int64
am              int64
gear            int64
carb            int64
dtype: object
Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [13]:
mtcars_df.cyl = mtcars_df.cyl.astype("category")
mtcars_df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     category
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: category(1), float64(5), int64(5), object(1)
memory usage: 3.0+ KB

In [14]:
## 연속형 변수의 요약통계량
mtcars_df.describe()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

## 입력으로 데이터 프레임 만들기

In [24]:
data = {
    'name' : ['Jerry', 'Riah', 'Paul'],
    'algol': ['A', 'A+', 'B'],
    'basic' : [ "C", "B", "B+"],
    'c++' : [ "B+", "C", "C+"],
}

mydf = pd.DataFrame(data)
# mydf.set_index('name', inplace = True)
print(mydf)

    name algol basic c++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

In [16]:
# list로 부터 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
school_df = pd.DataFrame([[15, '남', '덕영중'],
                          [17, '여', '수리중']],
                   columns=['나이', '성별', '학교'])
print(school_df)
print("*"*20)
print(school_df.index)
print("*"*20)
print(school_df.columns)

   나이 성별   학교
0  15  남  덕영중
1  17  여  수리중
********************
RangeIndex(start=0, stop=2, step=1)
********************
Index(['나이', '성별', '학교'], dtype='object')

## 요약통계량 구하기

### seaborn 예제 자료

In [17]:
import seaborn as sns
print(sns.get_dataset_names())
mpg_df = sns.load_dataset('mpg')
print("mpg_df = \n", mpg_df.head)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']
mpg_df =
 <bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

### 이산형 자료 통계량 구하기

In [18]:
print(mpg_df['cylinders'].value_counts())
print(mpg_df['origin'].value_counts())

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64
origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

### 연속형 자료 통계량 구하기

In [19]:
print(mpg_df['mpg'].mean().round(3))
print(mpg_df['mpg'].median())
print(mpg_df['mpg'].var().round(3))
print(mpg_df['mpg'].std().round(3))
print(mpg_df['mpg'].sem().round(3))
print(mpg_df['mpg'].max())
print(mpg_df['mpg'].min())

23.515
23.0
61.09
7.816
0.392
46.6
9.0

In [21]:
print(mpg_df[['mpg', 'weight']].mean()) # output = pandas series
print(mpg_df[['mpg', 'acceleration']].var())
print("*"*20)

print('quantile 25% =')
print(mpg_df[['mpg', 'acceleration']].quantile(0.25))
print("*"*20)

print('quantile 75% = ')
print(mpg_df[['mpg', 'acceleration']].quantile(0.75))
print("*"*20)

print('standard error =')
print(mpg_df[['mpg', 'acceleration']].sem())

mpg         23.514573
weight    2970.424623
dtype: float64
mpg             61.089611
acceleration     7.604848
dtype: float64
********************
quantile 25% =
mpg             17.500
acceleration    13.825
Name: 0.25, dtype: float64
********************
quantile 75% =
mpg             29.000
acceleration    17.175
Name: 0.75, dtype: float64
********************
standard error =
mpg             0.39178
acceleration    0.13823
dtype: float64

## Matplotlib 을 이용하여 산점도 그리기

In [1]:
print('correlation coefficient = \n')
print(mpg_df[['mpg', 'weight']].corr())


plt.scatter(mpg_df['weight'], mpg_df['mpg'], s = 20)
plt.title("Weight vs MPG")
plt.xlabel('weight(kg)')
plt.ylabel('mpg')
plt.show()

correlation coefficient =

NameError: name 'mpg_df' is not defined